<?xml version="1.0" encoding="utf-8"?>
<configuration>
<!-- DISCRETION: ALL CREDENTIALS SEEN IN THIS ARE 100% FAKE. THIS PROGRAM IS FOR SKILL DEMONSTRATION ONLY AND WILL NOT DO ANYTHING -->

	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="Auditing_Tool" connectionString="Server=MILK; Database=Auditing_Tool;User ID=User; Password='jdaijeJH788S98';Trusted_Connection=False;Encrypt=False;Connection Timeout=60;Application Name=Email File Watcher;" providerName="SQL" />
	</connectionStrings>
	<appSettings>
		<add key="TaskId" value="2" />
		<add key="WaitTimeInSeconds" value="300" />
		<add key="MachineNodeName" value="Node 01" />
		<add key="ClientId" value="1234" />
		<add key="FinalFilePath" value="C:\BigQueryTestFiles" /> 
		<add key="ContinueRunning" value="true" />
		<add key="credentialsPath" value="C:\Code\BigQueryDataPuller\credentials.json" />
	</appSettings>
	<system.net>
		<mailSettings>
			<smtp from="support@example.com">
				<network host="smtp.office365.com" port="1234" userName="services@example.com" password="4e7UJ8dkao" enableSsl="true" />
			</smtp>
		</mailSettings>
	</system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.7" newVersion="9.0.0.7" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Api.Gax.Rest" publicKeyToken="3ec5ea7f18953e47" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.11.0.0" newVersion="4.11.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Bigquery.v2" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.69.0.3783" newVersion="1.69.0.3783" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Auth" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.69.0.0" newVersion="1.69.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.69.0.0" newVersion="1.69.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Api.Gax" publicKeyToken="3ec5ea7f18953e47" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.11.0.0" newVersion="4.11.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Core" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.69.0.0" newVersion="1.69.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.5" newVersion="9.0.0.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.5" newVersion="9.0.0.5" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>

<!-- DISCRETION: ALL CREDENTIALS SEEN IN THIS ARE 100% FAKE. THIS PROGRAM IS FOR SKILL DEMONSTRATION ONLY AND WILL NOT DO ANYTHING -->
