<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
	<variable name="seperator" value="-----------------------------------"/>

	<!--
  See https://github.com/nlog/nlog/wiki/Configuration-file for customizing logging rules and outputs.
  See https://github.com/nlog/NLog/wiki/Targets for possible targets.
  See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
  -->
	<targets async="true">
		<target name="asyncWrapper" xsi:type="AsyncWrapper" overflowAction="Discard" queueLimit="1000000" batchSize="1000" timeToSleepBetweenBatches="0">
			<target name="f" xsi:type="File" fileName="./logs/QueuedTaskWorkerNode_today.xml" layout="${log4jxmlevent:includeSourceInfo=true:includeAllProperties=true:includeCallSite=true}" keepFileOpen="true" archiveEvery="Day" archiveFileName="./logs/archive/QueuedTaskWorkerNode_{#}.xml" archiveDateFormat="yyyy-MM-dd" archiveNumbering="Date" maxArchiveFiles="180">
			</target>
		</target>
	</targets>
	<rules>
		<logger name="*" minlevel="Trace" writeTo="f" />
	</rules>
</nlog>